body {
  background-size: cover; background-repeat: no-repeat;	background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/520b05ae-7108-4758-86d3-6641818a9c85/df65ukd-5d344800-96c4-4045-b66a-9937eeccc11c.png/v1/fit/w_828,h_1098,q_70,strp/dragon_ball_legends_wallpaper_by_kate_yamazaki_df65ukd-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTY5OCIsInBhdGgiOiJcL2ZcLzUyMGIwNWFlLTcxMDgtNDc1OC04NmQzLTY2NDE4MThhOWM4NVwvZGY2NXVrZC01ZDM0NDgwMC05NmM0LTQwNDUtYjY2YS05OTM3ZWVjY2MxMWMucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.S-h4qNZ9eCEiqgQWjIVWpZBxkBba-SVrB1BELNBl7i8);
}

.main-container {
  width: 100%;
}

.div-mitad {
  width: 69%;
  float: left; 

}
section {
	display: flex;
	width: 3000px;
	height: 800px;
}
	section img {
		width: 0px;
		flex-grow: 1;
		object-fit: cover;
		opacity: .8;
		transition: .6 ease;
	}
		section img:hover {
			cursor: crosshair;
			width:300px;
			opacity: 1;
			filter: contrast(120%);
		}

		input {

			background: black;
			cursor: pointer;
			border: none;
			padding: 16px 32px;
			color: white;
			font-size: 24px;
			font-weight: bold;
			position: relative;
			border-radius: 12px;
		}
		input:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, aquamarine, blue, pink, blue, aquamarine, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
		}
		@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}



		button {

			background: black;
			cursor: pointer;
			border: none;
			padding: 16px 32px;
			color: white;
			font-size: 24px;
			font-weight: bold;
			position: relative;
			border-radius: 12px;
		}
		button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, aquamarine, blue, pink, blue, aquamarine, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
		}
		@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

